[Locations]
# Path to loadout config from runner
looks_config = air_bud_appearance.cfg

# Path to module from runner
python_file = observer_bot.py

logo_file = observer_bot.png

# Name that will be displayed in game
name = ObserverBot

[Details]
developer = tarehart

# Short description of the bot
description = Does not move. Might log or graph stuff. Used for development.

# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/tarehart/ReliefBot

# Programming language
language = Python
